.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

body {
  --button: 1px;
  width: var(--button);
  margin: 10px 50px ;
}

.fieldset {
  display: block;
  width: 80vw;
  margin: 10px auto;
}

.button {
  display: block;
  width: var(--button);
  margin: 10px auto;
}

.block {
  display: block;
  margin: 6px;
}


